# Import Important package

In [181]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [182]:
movies=pd.read_csv("movies.csv")
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [183]:
rating=pd.read_csv("ratings.csv")
rating.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [184]:
movies=movies.drop(['genres'],axis=1)
rating=rating.drop(['timestamp'],axis=1)
rating=shuffle(rating)
movies=shuffle(movies)

rating.head(2)

       userId  movieId  rating
80093     503     1206     4.0
5074       33      452     4.0

# Merge Data

In [185]:
movie_data = pd.merge(rating, movies, on='movieId')
movie_data.head()

   userId  movieId  rating                       title
0     503     1206     4.0  Clockwork Orange, A (1971)
1      66     1206     5.0  Clockwork Orange, A (1971)
2     555     1206     4.0  Clockwork Orange, A (1971)
3     606     1206     4.5  Clockwork Orange, A (1971)
4     287     1206     2.5  Clockwork Orange, A (1971)

# Explor Data

In [186]:
# Calculate mean rating of all movies
movie_data.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
Karlson Returns (1970)                           5.0
Winter in Prostokvashino (1984)                  5.0
My Love (2006)                                   5.0
Sorority House Massacre II (1990)                5.0
Winnie the Pooh and the Day of Concern (1972)    5.0
Name: rating, dtype: float64

In [187]:
movie_data.groupby('title')['rating'].count().sort_values(ascending=False).head()

title
Forrest Gump (1994)                 329
Shawshank Redemption, The (1994)    317
Pulp Fiction (1994)                 307
Silence of the Lambs, The (1991)    279
Matrix, The (1999)                  278
Name: rating, dtype: int64

In [188]:
ratings_mean_count = pd.DataFrame(movie_data.groupby('title')['rating'].mean())
ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('title')['rating'].count())
ratings_mean_count.dropna(inplace=True)
ratings_mean_count.sort_values("rating_counts",ascending=False).head(10)

                                             rating  rating_counts
title
Forrest Gump (1994)                        4.164134            329
Shawshank Redemption, The (1994)           4.429022            317
Pulp Fiction (1994)                        4.197068            307
Silence of the Lambs, The (1991)           4.161290            279
Matrix, The (1999)                         4.192446            278
Star Wars: Episode IV - A New Hope (1977)  4.231076            251
Jurassic Park (1993)                       3.750000            238
Braveheart (1995)                          4.031646            237
Terminator 2: Judgment Day (1991)          3.970982            224
Schindler's List (1993)                    4.225000            220

# Generate data matrix between users and movies and value is rating

In [189]:
user_movie_rating = movie_data.pivot_table(index='userId', columns='title', values='rating')[:200]
print(user_movie_rating.shape)
user_movie_rating.head(3)

(200, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Replace NAN Value with zero

In [190]:
user_movie_rating.replace(np.nan, 0,inplace=True)
user_movie_rating.head(2)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Cosin similarit Function

In [191]:
def Cosin_Similarity(data_Matrix,film_name):
    similarty_df = pd.DataFrame(columns=['userId', 'Cosin_similarty'])
    film=data_Matrix[film_name]
    for i in data_Matrix:
        dot_product = np.dot(film, data_Matrix[i])
        norm_a = np.linalg.norm(film)
        norm_b = np.linalg.norm(data_Matrix[i])
        similarity=dot_product / (norm_a * norm_b)
        similarty_df=similarty_df.append({'userId': i, 'Cosin_similarty': similarity},ignore_index=True)
    return similarty_df

In [192]:
# def Similarities(data_Matrix,film_name,Mode="Item based"):
#     film=data_Matrix[film_name]
#     if Mode== "Item based":
#         similarty_df = pd.DataFrame(columns=['title', 'Cosin_similarty'])
#         for i in data_Matrix:
#             similarty_Factor=Cosin_Similarity(film,data_Matrix[i])
#             similarty_df=similarty_df.append({'title': i, 'Cosin_similarty': similarty_Factor},ignore_index=True)

#     elif Mode=="User based":
#         similarty_df = pd.DataFrame(columns=['ID', 'Cosin_similarty'])
#         for i in data_Matrix:
#             similarty_Factor=Cosin_Similarity(film,data_Matrix[i])
#             similarty_df=similarty_df.append({'ID': i, 'Cosin_similarty': similarty_Factor},ignore_index=True)

#     return similarty_df

# Use Data matrix to match Toy Story (1995)

In [193]:
Toy_story_ratings = user_movie_rating['Toy Story (1995)']
Toy_story_ratings

userId
1      4.0
2      0.0
3      0.0
4      0.0
5      4.0
      ...
196    0.0
197    0.0
198    0.0
199    0.0
200    3.5
Name: Toy Story (1995), Length: 200, dtype: float64

In [194]:
movies_like_Toy_story=Cosin_Similarity(user_movie_rating,'Toy Story (1995)').sort_values('Cosin_similarty', ascending=False)
movies_like_Toy_story.dropna(inplace=True)
movies_like_Toy_story.sort_values('Cosin_similarty', ascending=False).head(10)

                                         userId  Cosin_similarty
8871                           Toy Story (1995)         1.000000
4337       Independence Day (a.k.a. ID4) (1996)         0.558823
6865                        Pulp Fiction (1994)         0.557919
5711                 Mission: Impossible (1996)         0.554750
298                              Aladdin (1992)         0.546933
7653                               Shrek (2001)         0.537303
4662                       Jurassic Park (1993)         0.533452
8872                         Toy Story 2 (1999)         0.533356
5488                           Mask, The (1994)         0.533289
8001  Star Wars: Episode IV - A New Hope (1977)         0.533147

In [195]:
cos_Toy_Story = movies_like_Toy_story.join(ratings_mean_count['rating_counts'],on='userId')
cos_Toy_Story.head()

                                    userId  Cosin_similarty  rating_counts
8871                      Toy Story (1995)         1.000000            215
4337  Independence Day (a.k.a. ID4) (1996)         0.558823            202
6865                   Pulp Fiction (1994)         0.557919            307
5711            Mission: Impossible (1996)         0.554750            162
298                         Aladdin (1992)         0.546933            183

In [196]:
cos_Toy_Story[cos_Toy_Story ['rating_counts']>100].sort_values('Cosin_similarty', ascending=False).head(10)

,userId,Cosin_similarty,rating_counts
8871,Toy Story (1995),1.000000,215
4337,Independence Day (a.k.a. ID4) (1996),0.558823,202
6865,Pulp Fiction (1994),0.557919,307
5711,Mission: Impossible (1996),0.554750,162
298,Aladdin (1992),0.546933,183
7653,Shrek (2001),0.537303,170
4662,Jurassic Park (1993),0.533452,238
5488,"Mask, The (1994)",0.533289,157
8001,Star Wars: Episode IV - A New Hope (1977),0.533147,251
3656,Groundhog Day (1993),0.525359,143

# Use Data matrix to match Waiting to Exhale (1995)

In [197]:
Toy_story_ratings = user_movie_rating['Waiting to Exhale (1995)']
movies_like_Waiting_to_exhale=Cosin_Similarity(user_movie_rating,'Waiting to Exhale (1995)').sort_values('Cosin_similarty', ascending=False)
movies_like_Waiting_to_exhale.dropna(inplace=True)
movies_like_Waiting_to_exhale.sort_values('Cosin_similarty', ascending=False).head(10)

                                      userId  Cosin_similarty
9225                Waiting to Exhale (1995)         1.000000
5245                      Love Affair (1994)         0.707107
6335                         Only You (1994)         0.639602
9387         When a Man Loves a Woman (1994)         0.628971
1860                             Cobb (1994)         0.624695
1536                   Candidate, The (1972)         0.600245
931                  Before and After (1996)         0.600245
9372   What's Love Got to Do with It? (1993)         0.590481
6908  Queen Margot (Reine Margot, La) (1994)         0.577350
7054          Remains of the Day, The (1993)         0.555332

In [198]:
cos_Waiting_to_exhale = movies_like_Waiting_to_exhale.join(ratings_mean_count['rating_counts'],on='userId')
cos_Waiting_to_exhale.head()

                               userId  Cosin_similarty  rating_counts
9225         Waiting to Exhale (1995)         1.000000              7
5245               Love Affair (1994)         0.707107              5
6335                  Only You (1994)         0.639602              8
9387  When a Man Loves a Woman (1994)         0.628971             11
1860                      Cobb (1994)         0.624695              6

In [199]:
cos_Waiting_to_exhale[cos_Waiting_to_exhale ['rating_counts']>20].sort_values('Cosin_similarty', ascending=False).head(10)

                                     userId  Cosin_similarty  rating_counts
7054         Remains of the Day, The (1993)         0.555332             24
6610                      Piano, The (1993)         0.538126             61
6453                      Paper, The (1994)         0.466628             21
6600                    Philadelphia (1993)         0.457143             66
6598                      Phenomenon (1996)         0.448276             46
3062           First Wives Club, The (1996)         0.432512             21
5685          Miracle on 34th Street (1994)         0.425373             38
5005             Legends of the Fall (1994)         0.417454             68
7278                            Rudy (1993)         0.416667             34
1375  Bridges of Madison County, The (1995)         0.402492             23

# Part Three

In [211]:
Movies_User_Ratings=user_movie_rating.T # Transpose Movie user table 
Movies_User_Ratings.head(10)

userId,1,2,3,4,5,6,7,8,9,10,...,191,192,193,194,195,196,197,198,199,200
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Tis the Season for Love (2015),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'night Mother (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
*batteries not included (1987),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [212]:
User_200_Ratings=Movies_User_Ratings[200]
User_200_Ratings.head(10)

title
'71 (2014)                                 0.0
'Hellboy': The Seeds of Creation (2004)    0.0
'Round Midnight (1986)                     0.0
'Salem's Lot (2004)                        0.0
'Til There Was You (1997)                  0.0
'Tis the Season for Love (2015)            0.0
'burbs, The (1989)                         0.0
'night Mother (1986)                       0.0
(500) Days of Summer (2009)                0.0
*batteries not included (1987)             0.0
Name: 200, dtype: float64

# Users like USer200

In [202]:
Users_like_userID200=Cosin_Similarity(Movies_User_Ratings,200).sort_values('Cosin_similarty', ascending=False)
Users_like_userID200.dropna(inplace=True)
Top_ten_similar_users=Users_like_userID200.sort_values('Cosin_similarty', ascending=False).head(10)
Top_ten_similar_users

     userId  Cosin_similarty
199   200.0         1.000000
67     68.0         0.460507
140   141.0         0.403566
131   132.0         0.399698
44     45.0         0.384170
165   166.0         0.361068
63     64.0         0.356268
176   177.0         0.355917
128   129.0         0.353020
168   169.0         0.337422

# Intersection between original merging data with Top ten similar users on userId

In [210]:
intersection_df = pd.merge(movie_data, Top_ten_similar_users, how ='inner', on ='userId') 
#generate new dataFrame groupby title on mean of ratings for ten similar users
ratings_mean_for_ten_users = pd.DataFrame(intersection_df.groupby('title')['rating'].mean())
# dropes Movies that isn't rated by ten similar users
ratings_mean_for_ten_users.dropna(inplace=True) 
#sort mean of rating asending to recommend the higher three movies to user of id 200
ratings_mean_for_ten_users.sort_values("rating",ascending=False).head(3)

                         rating
title
Fame (1980)                 5.0
Adam's Rib (1949)           5.0
After the Sunset (2004)     5.0